.login {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url('../../resources/background.svg');
  background-repeat: no-repeat;
  background-position: center 110px;
  background-size: 100%;

  &-page {
    width: 24rem;
    padding: 10vh 1rem 1rem;
    height: 100%;

    .ant-tabs-top > .ant-tabs-nav::before {
      border: 0;
    }

    &-logo {
      width: 4rem;
      height: 4rem;

      &-wrapper {
        margin-bottom: 1rem;
        justify-content: center;
        align-items: center;
        width: 100%;
        display: flex;
      }
    }

    &-label {
      padding: 0 0 1rem 1rem;
      font-weight: 900;
      margin: 0.5rem 0 0.5rem;
      font-size: 2rem;
    }

    &-tab {
      padding-top: 2rem;
    }

    .ant-form {
      width: 100%;

      .ant-col {
        width: 100%;
      }
    }
  }
}
