.logo {
  margin: 0 1rem;
  color: white;
  font-weight: 900;
  font-size: 1.25rem;
}

.header {
  padding: 0;
}

.headerButton {
  margin: 0 1rem 0 0;
}

.languageLabel {
  margin-left: 0.25rem;
}

.username {
  color: white;
  margin-right: 0.5rem;
}

.user {
  display: flex;
  align-items: center;
}
