.expression-editor {
  width: 100%;
  position: relative;

  .function {
    font-family: "Times New Roman", Symbola, serif;
    padding-left: 0.5rem;
    line-height: 0.9;
    font-style: italic;
    font-size: 1.0625rem;
    letter-spacing: 0.125rem;
    position: absolute;
    top: 0;
    bottom: 0;
    pointer-events: none;
    display: flex;
    align-items: center;

    &.empty {
      color: #d9d9d9;
    }
  }

  .placeholder {
    color: #d9d9d9;
    margin-left: 3.25rem;
    position: absolute;
    top: 0;
    bottom: 0;
    pointer-events: none;
    display: flex;
    align-items: center;
  }

  .functions-selector {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0.5rem;
    display: flex;
    align-items: center;
  }

  .mq-editable-field {
    width: 100%;
    padding: 0.3125rem 0.5rem 0.3125rem 3.125rem;
    font-size: 1.0625rem;
    border: 1px solid #d9d9d9!important;
    border-radius: 0.125rem!important;

    &.mq-focused {
      box-shadow: 0 0 0 0.125rem rgba(24, 144, 255, .2)!important;
      border: 1px solid #40a9ff!important;
    }

    &:hover {
      border: 1px solid #40a9ff!important;
    }
  }
}
