.app {
  min-height: 100vh;
}

.content {
  background: white;
  padding: 1.5rem;
}

.logo {
  margin: 0 1rem;
  color: white;
  font-weight: 900;
  font-size: 1.25rem;
}

.breadcrumbs {
  margin: 1rem 0;
}

.layout {
  margin: 0 1rem;
}
